@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Sen:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #2d3134;
  --secondary-color: #f66f4d;
  --third-color: #5b5f62;
  --forth-color: #939597;
  --bg-main: #faf8ed;
}


.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

@layer base {
  html {
    @apply scroll-smooth;
}
  body {
    @apply min-h-screen bg-bg_main font-inter text-primary dark:text-white dark:bg-black;
  }
  section {
    @apply py-8 sm:py-10 md:py-16 px-7 sm:px-20 md:px-28 relative overflow-hidden
  }
}
@layer utilities {
  .slider_arrows{
    @apply border-[1px] border-primary dark:border-secondary 
  }
}

